@tailwind base;
@tailwind components;
@tailwind utilities;


.sub-menu-content{
    background-color: #181f3f;
}

.sc-jSUZER{
    background-color: #181f3f;
}

.daWgIu {
    background-color: #181f3f;
}

.h-chat{
    height: 450px;
}

.rdrCalendarWarpper {
    width: 100% !important;
    padding: 0 !important;
  }
  .rdrMonth {
    width: 100% !important; 
}

.css-d749sv {
  border-color: #192333 !important;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 768px) {
    .bar-chart {
      width: 400px;
    }
  }
