@tailwind base;
@tailwind components;
@tailwind utilities;

.sub-menu-content{
    background-color: #181f3f;
}

.sc-jSUZER{
    background-color: #181f3f;
}

.daWgIu {
    background-color: #181f3f;
}

